@charset "utf-8";
.back{
    width: 1rem;
    height: 1rem;
    background: #000;
    border-radius: 50%;

    color: #fff;

    position: fixed;
    top: 0.2rem;
    left: 0.2rem;

    p{  

        font-size: .1rem;
        line-height: 1rem;
        text-align: center;
        float: left;

        position: absolute;
        top: -0.05rem;
        left: 0.28rem;
    }
    &::before{
        content: "";
        display: block;
        width: .3rem;
        height: .3rem;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        
        transform:rotate(45deg);
        margin: .3rem 0 0 .1rem;
       
        position: relative;
    }
    
}
.p_content{

    
    .p_info{
        padding: .5rem;
        background-color: #fff;
        // margin: .5rem;
        img{
            width: 100%;
            height: 6.5rem;
        }

        h2{
            font-size: 21px;
            line-height: 35px;
            text-indent: .5rem;
        }
        p{
            font-size: 18px;
            line-height: 25px;
            color: red;
            font-weight: bold;
            text-indent: .2rem;
        }
        
    }

    .p_detial{

        h3{
            font-size: 24px;
            text-align: center;
            line-height: 1.5rem;  
        }

        .p_content{

            
            img{
                width: 100%;
                height: 6rem;
            }

            p{
                font-size: 14px;
                color: #777777;
                text-indent:2em;
                line-height: 24px;
            }
            br{
                line-height:10px;
            }
        }
        
    }
}

/** 底部菜单**/
.pfooter{
    position: fixed;    /*基于视口固定定位*/
    bottom: 0;
    left: 0;

    background: rgb(255, 255, 255);    /*宽高固定模块大小*/
    width: 100%;
    height: 1.5rem;

    .cart{
        float: left;
        display: flex;
        text-indent: .2rem;
        margin:.45rem;
        strong{
            flex: 1;
            font-size: 22px;
            color: #000;
            margin:0rem .2rem 0rem 0rem;
        }

        .cart_num{
            // flex: 1;
            display: flex;
           
            color: #fff;
            text-align: center;
            text-indent: 0;

            .input_left,.input_center,.input_right{
                flex: 1;
                display: inline-block;
                width: .8rem;
                height: .8rem;
                color:red;
                background: #fff;
                border: 1px solid #e2e2e2;
                // text-align: center;
                
                
            }

           
            .input_center{
                border: none;
                border-top: 1px solid #e2e2e2;
                border-bottom: 1px solid #e2e2e2;
                display: inline-block;
                input{
                    
                    border: none;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display:inline-block;
                    vertical-align:middle;
                }
            }
        }
    }
    .addcart{
        float: right;
        border: none;
        background: red;
        color: white;
        width: 2.5rem;
        height: 1.1rem;
        border-radius: .2rem;
        
        margin: .25rem;
    }
}